@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  background: #FEF08A;
  border-radius: 10px;
}

#backdrop *::-webkit-scrollbar-track {
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  background: red;
}